$gutter-base: 16px;
$gutter-xxs: $gutter-base * 0.125; // 2
$gutter-xs: $gutter-base * 0.25; // 4
$gutter-sm: $gutter-base * 0.5; // 8
$gutter-ms: $gutter-base * 0.75; // 12
$gutter-md: $gutter-base;
$gutter-ml: $gutter-base * 1.5; // 24
$gutter-lg: $gutter-base * 2; // 32
$gutter-xl: $gutter-base * 3; // 48
$gutter-xxl: $gutter-base * 4; // 64

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-ms: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 32px;

$line-height-sm: 14px;
$line-height-md: 16px;
$line-height-xl: 24px;

$color-emerald: #11998e;
$color-light-green: #38ef7d;
$color-white: #ffffff;
$color-gray: #9b9b9b;
$color-light-yellow: #ffe5c4;
$color-yellow: #ffa12b;
$color-dark-yellow: #fd9d23;
$color-dark-yellow-2: #f78900;
$color-brown: #915100;
$color-black: #2b1800;

$border-radius-sm: 3px;
$border-radius-md: 4px;
$border-radius-lg: 6px;
