@import '../../styles/variables.scss';

%space-between {
  display: flex;
  justify-content: space-between;
}

.Game {
  @extend %space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;

  &__info {
    @extend %space-between;
    padding: $gutter-sm $gutter-ml;
  }

  &__controls {
    @extend %space-between;
    padding: 0 $gutter-md $gutter-ms;
  }

  &__cards {
    //Card width + left & right margin, 6 cards in the row
    width: ($card-width + $gutter-xs * 2) * 6;
    justify-self: center;
    align-self: center;
  }
}
